<?xml version="1.0" encoding="utf-8" ?>
<web-app>
    <serverlet>
        <serverlet-name>login</serverlet-name>
        <serverlet-class>Ipwl.servertest4.LoginServerlet</serverlet-class>
    </serverlet>
    <serverlet-mapping>
        <serverlet-name>login</serverlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/g</url-pattern>
    </serverlet-mapping>
    <serverlet>
        <serverlet-name>reg</serverlet-name>
        <serverlet-class>Ipwl.servertest4.RegisterServerlet</serverlet-class>
    </serverlet>
    <serverlet-mapping>
        <serverlet-name>reg</serverlet-name>
        <url-pattern>/reg</url-pattern>
    </serverlet-mapping>
</web-app>